html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container-ui {
  width: 960px;
  height: 540px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: top left;
}

.container-challenges {
  background-image: url("../img/bgc.jpg");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.container-challenges .container-challenges-header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.9);
}
.container-challenges .container-challenges-header .challenges-title {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}
.container-challenges .container-challenges-gates {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 8px 16px;
  box-sizing: border-box;
}
.container-challenges .container-challenges-gates .gate {
  cursor: pointer;
  display: inline-block;
  margin-right: 8px;
}
.container-challenges .container-challenges-gates .gate:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 11px;
}

.container-builder {
  width: 960px;
  height: 540px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../img/bg.jpg");
  transform-origin: top left;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 15%;
  grid-template-rows: auto 54px;
  grid-template-areas: "builder gateList" "toolbar toolbar";
}
.container-builder > * {
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}
.container-builder .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  transform-origin: top left;
}
.container-builder .builder {
  grid-area: builder;
  width: 100%;
  height: 100%;
  position: relative;
}
.container-builder .builder > canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.container-builder .popup {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
}
.container-builder .popup .inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
  background-color: white;
  padding: 12px;
  padding-top: -24px;
  overflow: hidden;
  max-height: 70%;
  max-width: 70%;
  text-align: center;
}
.container-builder .popup .inner .close {
  position: absolute;
  right: 12px;
  bottom: 8px;
  background-color: #605fd0;
  color: white;
  font-family: Helvetica, sans-serif;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 6px 8px;
  min-width: 48px;
}
.container-builder .gatePanelWidget .inner {
  width: 70%;
  height: 70%;
}
.container-builder .gatePanelWidget .inner .panelList {
  margin-top: 4px;
  overflow: auto;
  max-height: 77%;
  background-color: #eee;
  padding-top: 8px;
  padding-bottom: 8px;
}
.container-builder .popupMessage .title {
  margin-top: 0;
}
.container-builder .popupMessage .inner {
  padding-bottom: 3em;
}
.container-builder .popupYesNo .inner .no {
  right: 64px;
  background-color: #cc5555;
}
.container-builder .popupYesNo .inner .cancel {
  left: 12px;
}
.container-builder .gateList {
  grid-area: gateList;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}
.container-builder .gateList .gate:first-of-type {
  margin-top: 6px;
}
.container-builder .gateList .gate canvas {
  cursor: pointer;
}
.container-builder .gateList .gate canvas:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 11px;
}
.container-builder .toolbar {
  grid-area: toolbar;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  position: relative;
  padding: 0 24px;
  display: flex;
}
.container-builder .toolbar .toolbar-button {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  height: 100%;
  width: 54px;
}
.container-builder .toolbar .toolbar-button img {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
  height: 40%;
  width: 40%;
}
.container-builder .toolbar .toolbar-button div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: white;
}
.container-builder .toolbar .toolbar-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/*# sourceMappingURL=style.css.map */
